/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.main-container {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto auto;
}

.main-calc {
  background: lightblue;
  padding: 5px;
}

.calc-visor input {
  display: block;
  width: 100%;
  height: 40px;
  margin: auto auto;
  appearance: none;
  direction: rtl;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calc-btns-container {
  margin-top: 5px;
}

.btns {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(5, 50px);
  grid-gap: 5px;
  grid-template-areas:
    "number number number other"
    "number number number other"
    "number number number other"
    "other number other other"
    "equal equal equal equal";
}

.btn {
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background: lightcoral;
}

.btn:active {
  background: lightpink;
}

.btn-icon {
  font-size: 30px;
}

.equal {
  grid-column-start: 1;
  grid-column-end: 5;
}

.btn-1 {
  grid-area: number;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.btn-2 {
  grid-area: number;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.btn-3 {
  grid-area: number;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
.btn-4 {
  grid-area: number;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.btn-5 {
  grid-area: number;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.btn-6 {
  grid-area: number;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.btn-7 {
  grid-area: number;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.btn-8 {
  grid-area: number;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.btn-9 {
  grid-area: number;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.btn-0 {
  grid-area: number;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
.btn-c {
  grid-area: other;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
.btn-back {
  grid-area: other;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}
